* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
h1,h3,p,a  {
  font-family: 'Amaranth', sans-serif;
  color: #F8F9F9;
}
/********** HEADER ***********/
.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(img/bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}
.header {
  width: 100%;
  height: auto;
  padding: 10px;
}
.header h1{
  font-size: 4rem;
  margin-left: 25px;
  padding-left: 10px;
  border-left: 5px solid #F8F9F9;
  border-radius: 5px;
  text-shadow: 0 5px 5px #515A5A;
}
.header p{
  margin-left: 25px;
  padding-left: 20px;
  padding-top: 5px;
  text-shadow: 0 3px 3px #515A5A;
}
/************* CARDS **********/
.project-cards {
  width: 80%;
  height: 100%;
  margin: 20px auto;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border: 2px solid inherit;
  background-color: rgb(0,0,0,0.8);
  border-radius: 4px;
  box-shadow: 1px 2px 2px rgb(0,0,0,0.4);
  transition: all 0.4s;
  opacity: 0.9;
}
.card:hover{
  box-shadow: 2px 4px 3px rgb(0,0,0,0.4);
  transform: scale(1.01);
  opacity: 1;
}
.card .card-img {
  flex:2;
  position: relative;
  transition: all 0.3s;
}

.card img {
  width: 100%;
  max-height:450px;
  border-radius: 4px;
}
.card .card-info {
  flex: 3;
  padding: 10px;
  margin: 10px;
}
.card .card-info h3 {
  font-size: 1.8em;
  padding-bottom: 8px;
  letter-spacing: 1.5px;
  border-bottom: 2px solid #F8F9F9;
}
.card .card-info p {
  font-size: 1.2em;
  letter-spacing: 1.3px;
  padding: 7px;
  text-shadow: 0 1px 1px #515A5A;
}
.card .card-btn {
  flex: 0.5;
  background-color: rgb(0,0,0,0.4);
  border-radius: 6px;
  padding: 5px;
  border: 2px solid #F8F9F9;
  cursor: pointer;
  transition: all 0.2s;
}
.card .card-btn a {
  text-decoration: none;
  padding: 20px;
  font-size: 1.2rem;
  transition: all 0.2s;
}
.card .card-btn:hover {
  background-color: #fff;
}
.card .card-btn:hover.card-btn a{
  color: #000;
}
